.bundle
.byebug_history
.env
.env.production

log/*
!log/.keep

spec/tmp

tmp/*
tmp/pids/*
!tmp/.keep
!/tmp/pids
!/tmp/pids/.keep

vendor/bundle

config/credentials/*
!config/credentials/*.enc

# Ignore master key for decrypting credentials and more.
/config/master.key
